<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     {% load static %}
    <script type="text/javascript" src="https://d3js.org/d3.v3.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <title>{{title}}</title>
    {% block head_sadrzaj %}{% endblock %}
</head>
<body>
<div class="page">
    <div class="header">
    <div>
        Graph Explorer
    </div>

    </div>
    <div class="left">
        <ul>
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
        </ul>
            {% block links %}{% endblock %}
    </div>
    <div class="center">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">Graph explorer</div>
</div>
{% block scripts %}{% endblock %}
</body>
</html>